<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>
      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control", placeholder:"Bitcoin" %>
  </div>

  <div class="mb-3">
    <%= form.label :acronym %>
    <%= form.text_field :acronym, class:"form-control", placeholder:"BTC" %>
  </div>

  <div class="mb-3">
    <%= form.label :url_image %>
    <%= form.text_field :url_image, class:"form-control", placeholder:"htttp://..." %>
  </div>
  
  <div>
    <%= form.label :mining_type_id %>
    <%= form.select("mining_type_id", @mining_type_options, { include_blank: "Selecione uma opção" }, class:"form-select ") %>
  </div>
  
  <div class="form-check form-switch">
    <%= form.check_box :active, class:"form-check-input", type:"checkbox", role:"switch" %>
    <%= form.label :active, "Ativo?", class:"form-check-label", for:"flexSwitchCheckChecked" %>
  </div>
  
</br>
  <div class="actions">
    <%= form.submit nil, class:"btn btn-outline-primary btn-sm" %>
    <%= link_to t('links.back'), coins_path, class:"btn btn-outline-secondary btn-sm" %>
  </div>
</br>
<% end %>

